# This is a CODEOWNERS file.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information.

# Everything else in the repository needs to be reviewed by the Architects team
* @idellabv/Architects

/.github/ @idellabv/VIPS-DevOps
